#Sticky 
	{
	position:fixed;
	width:100%;
	left:0px;
	bottom:0px;
	_position: absolute; bottom: 0px; left:0px;
	z-index: 50;
	}
	
.top_line{
border-bottom: 1px dashed #666666;
}

.vertikal_line{
border-left: 1px dashed #aeaeae;
border-bottom: 1px dashed #aeaeae;
}

fieldset { 
border: 1px solid #781351;
}

legend {
color: #fff;
background: #ffa20c;
border: 1px solid #781351;
}

body {
	font:12px "Trebuchet MS", "Verdana", "MS Sans Serif";
}

.submit
{
background:#009900 url(../images/transparent.png) 0px bottom repeat-x;
	width:auto;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-weight: bold; font-size:11px;
	line-height: 21px; height:25px;
	padding-left:10px; padding-right:10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border:none;
	border-bottom: 1px solid rgba(0,0,0,0.25);	 
	position: relative;
	cursor: pointer;
	margin:1em 0;}


.submit:hover {	background-color:#006600}

.reset
{
background:#f99a12 url(../images/transparent.png) 0px bottom repeat-x;
	width:auto;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-weight: bold; font-size:11px;
	line-height: 21px; height:25px;
	padding-left:10px; padding-right:10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border:none;
	border-bottom: 1px solid rgba(0,0,0,0.25);	 
	position: relative;
	cursor: pointer;
	margin:1em 0;}


.reset:hover {	background-color:#d88a19}

A.menulink {
display: block;
width: 160px;
text-align: left;
text-decoration: none;
font: 13px "Trebuchet MS", "Verdana", "MS Sans Serif";
FONT-WEIGHT: bold;
color: #449805;
BORDER: none;
border: solid 1px #FFFFFF;
}

A.menulink:hover {
border: solid 1px #008000;
background-color:#51b906;
color: #FFFFFF;
}

A.whitelink {
text-decoration: none;
font: 13px "Trebuchet MS", "Verdana", "MS Sans Serif";
FONT-WEIGHT: bold;
color: #FFFFFF;
BORDER: none;
border: solid 0px #FFFFFF;
}

A.whitelink:hover {
border: solid 1px #FFFFFF;
color: #449805;
BORDER: none;
border: solid 0px #FFFFFF;
}

A.textlink {
text-decoration: none;
font: 13px "Trebuchet MS", "Verdana", "MS Sans Serif";
FONT-WEIGHT: bold;
color: #004e44;
BORDER: none;
border: solid 1px #FFFFFF;
}

A.textlink:hover {
border: solid 0px #ffffff;
background-color:#ffffff;
color: #00ab4e;
}

A.textlink2 {
text-decoration: none;
font: 13px "Trebuchet MS", "Verdana", "MS Sans Serif";
color: #449805;
}

A.textlink2:hover {
text-decoration: underline;
}

A.textlink3 {
text-decoration: none;
font: 13px "Trebuchet MS", "Verdana", "MS Sans Serif";
color: #FFFFFF;
}

A.textlink3:hover {
text-decoration: underline;
color: #FFFFFF;
}

A.textlink3:visited {
color: #FFFFFF;
}


.text_input {
      font:normal 13px "Trebuchet MS", "Verdana", "MS Sans Serif";
      background:white;
      border: 1px solid #aeaeae;      
    }

.kotak {
border: solid 1px #aeaeae;
}

.kotak_profil {
border: solid 1px #aeaeae;
background:#dfffdf;
}

.kotak_putus {
border-top: 1px dashed #aeaeae;
border-left: 1px dashed #aeaeae;
border-right: 1px dashed #aeaeae;
}

.kotak_bawah {
border-bottom: 1px dashed #aeaeae;
}

.iframeCSS
	{
	overflow:visible; width:100%; display:none;
	}
	
.formInput {
	border: 1px solid #4d7c35;
	padding: 1px;
	margin: 1px;
	background-color: #5d9641;
	font-family: "Trebuchet MS", Verdana, "MS Sans Serif";
	font-size: 12px;
	
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
	/*filter: alpha(opacity= 50); -moz-opacity:0.5; opacity: 0.5*/
	}
	
.formInputIjoMuda {
	border: 1px solid #4d7c35;
	padding: 1px;
	margin: 1px;
	background-color: #c5e0b8;
	font-family: "Trebuchet MS", Verdana, "MS Sans Serif";
	font-size: 12px;
	
	color: #4d7c35;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
	/*filter: alpha(opacity= 50); -moz-opacity:0.5; opacity: 0.5*/
	}
	
.formInputIjoMudaKurus {
	border: 1px solid #4d7c35;
	padding: 1px;
	margin: 1px;
	background-color: #c5e0b8;
	font-family: "Trebuchet MS", Verdana, "MS Sans Serif";
	font-size: 12px;
	color: #4d7c35;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
	/*filter: alpha(opacity= 50); -moz-opacity:0.5; opacity: 0.5*/
	}
	
#containerIMG {
            width: 180px;
            text-align: center;
            margin: auto;
        }

        
        .back
        {
            position:absolute;
            top:0;left:0;    
        }
        .wrap
        {
            width:180px;
            height:76px;
            position:relative;
            margin:auto;
            overflow:hidden;
         }
         
            
        .comment
        {
            position:absolute;   
            width:180px;
            top:76px;
            left:0px;
            letter-spacing: -1px;
            color: white; font: 12px/24px Berlin Sans FB, Sans-Serif; 
            background: #4A4D4A; 
            padding: 10px;  
	        filter:alpha(opacity=60);
	        -moz-opacity:0.6;
	        -khtml-opacity: 0.6;
	        opacity: 0.6;
            line-height: 90%    
        }